$darkBlue: #010925;
$altBlue: #19213e;
$black: #000000;
$grey: #333333;
$lightGrey: #f7f7f7;
$white: #FFFFFF;
$brown: #563d16;
$darkBrown: #161616;
$darkYellow: #0c0c0a;
$yellow: #F2A41E;
$transparent: rgba(0,0,0,0);